
bin/
dist/
*.exe
*.test
*.out

namd.yml

Makefile.local

.namd/
*.namd/
credentials
accounts.json
webhooks/

*.pem
*.key
digitalocean.ini
.env
.env.local
.env.*.local

vendor/

.DS_Store
.AppleDouble
.LSOverride

.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace